/* Layout Styles */
body {
    height: 100vh;
    width: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
}


footer {
    border: silver 1px solid;
    margin-top: 100px;
    padding-top: 50px;
}

.navbar-brand {
    font-size: 2.5rem;
}

.social-list {
    list-style: none;
}

.fab {
    color: rgb(116, 116, 116);
    font-size: 2rem;
    padding: 10px;
}

.fab:hover {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 10px;
}

.nav-link{
    color: rgb(117, 115, 115) !important;
}

.nav-link:hover{
    color: rgb(0, 0, 0) !important;
}

#thumb-top-left{
    position: absolute;
}

/* Home Page

The Parallax is used to create the scrolling effect on the home page */

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-1 {
    background-image: url("https://images.pexels.com/photos/1203819/pexels-photo-1203819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

#parallax-2 {
    background-image: url("https://images.pexels.com/photos/959314/pexels-photo-959314.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

#main-image{
    padding-right: 0px;
    padding-left: 0px;
}

/* The overlay is what shows the text sitting over the parallax */


#img-overlay {
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 500px;
}

.highlight {
    color: rgb(0, 0, 0);
    background-color: rgba(114, 114, 122, 0.664);
}

#index-info-section {
    height: 200px;
    background-color: white;
    padding: 100px 0px 270px 0px;
}

.descriptive-text {
    font-size: 20px;
    text-align: center;
    color: black;
}

#upload-photo-form {
    margin-top: 10%;
}

label {
    padding: 30px;
}



/* Gallery */

#gallery-headline {
    margin: 50px 0px 50px 0px;
    text-align: center;
}


.container-overlay {
    position: relative;
    width: 75%;
    margin-top: 100px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

.col-12{
    padding: 0px;
}

.container-overlay:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#username-text {
    position: absolute;
}

.edit-delete-buttons {
    float: right;
    margin-right: 10%;
}

#bottom-right-overlay {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 50px;
    right: 20%;
}

.film {
    background-image: url("https://i.pinimg.com/originals/52/72/c6/5272c64129306d28199a57f28ae2dada.png");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);

}

.film:hover {
    color: rgb(204, 167, 47);
    border: 2px solid rgb(204, 167, 47);
    font-weight: bolder;
}

.film-reel {
    display: inline-block;
}

.parent {
    text-align: center;
}


.image-thumbnail {
    max-width: 150px;
    height: auto;
}

.pagination-page-info {
    padding-top: 50px;
    width: 25%;
    font-size: 12px;
    margin: 0 auto;

}

.pagination-page-info b {
    color: black;
    background: #b8b1b1;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination-page-links {
    background-color: rgb(128, 37, 37);
}

.pagination-bottom {
    padding-top: 150px;
    width: 20%;
    margin: 0 auto;
}

.pagination-center {
    padding-top: 5px;
    width: 20%;
    margin: 0 auto;
}

#add-comment {
    margin-top: 10px;
}

.fa-comments {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.fa-thumbs-up {
    font-size: 1.5rem;
    padding-bottom: 10px;
}


#uploadPhotoForm {
    margin-top: 100px;
}

#login-container {
    margin-top: 100px;
}

#loginSubmitButton {
    margin-bottom: 50px;
}


#registerForm {
    margin-top: 50px;
}

.register-form {
    text-align: right;
}

.success {
    list-style: none;
    color: black;
}

.error {
    list-style: none;
    color: red;
}

@media (min-width: 601px) {
    #img-overlay {
        font-size: 3rem;
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 800px;
    }
}

@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}