@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');


/* Navbar */

.nav-wrapper{
    background-color: rgb(70, 70, 70);
}


body{
    height: 100vh;
    width: 99vw;
    font-size: 16px;
    font-family: 'Josefin Slab', serif;
}



#brand{
    color: rgb(0, 0, 0);
    font-size: 2rem;
}


footer{
    background-color: rgb(50, 50, 54);
    height: 150px;
}

.parallax {
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#parallax-1 {
	background-image: url("https://images.pexels.com/photos/1203819/pexels-photo-1203819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

#parallax-2 {
	background-image: url("https://images.pexels.com/photos/582635/pexels-photo-582635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
#img-overlay{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 800px;
}
.highlight{
    color: black;
    background-color: rgba(114, 114, 122, 0.664);
}

#index-info-section{
    height: 200px;
    background-color: white;
}

.descriptive-text{
    font-size: 20px;
    text-align: center;
    color: black;
}

.footer-text{
    color: white;
}

#upload-photo-form{
    margin-top: 10%;
}

label{
    padding: 30px;
}



/* Gallery */



#gallery-headline{
    text-align: center;
}


.container {
    position: relative;
    width: 75%;
    margin-top: 20px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #username-text{
    position: absolute;
  }

  #bottom-right-overlay{
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 50px;
    right: 20%;
  }