<!-- <nav>
    <div class="nav-wrapper grey lighten-1">
      <a href="/" class="brand-logo">The Shadows</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/showphotos">Gallery</a></li>
          {% if session.logged_in %}
            <li><a href="/upload">Upload Photo</a></li>
            <li><a href="/logout">Logout {{session.username}}</a></li>
          {% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          {% endif %}  
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/showphotos">Gallery</a></li>
    {% if session.logged_in %}
      <li><a href="/upload">Upload Photo</a></li>
      <li><a href="/logout">Logout {{session.username}}</a></li>
    {% else %}
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    {% endif %}


  </ul> -->





  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">The Shadows</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/showphotos">Gallery</a>
        </li>
        {% if session.logged_in %}
        <li class="nav-item">
          <a class="nav-link" href="/upload">Upload Photo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}  

      </ul>
    </div>
  </nav>