header{
    height: 15vh;
}

#headline{
    background-color: blue;
    height: 60%;

}
#logo{
    background-color: lightblue;

}

#navbar{
    background-color: blueviolet;
    height: 40%;

}

.nav-links{
    border: 1px solid black;
}

main{
    height: 70vh;
}

footer{
    background-color: blue;
    height: 15vh;
}