{% extends 'layout.html' %}

{% block body %}

<div id="edit-photo-form" class="container">
  <form method="POST" action="" enctype="multipart/form-data">

    <div>
      <img src={{url_for('file', filename=form.image_file.data)}} class="image-thumbnail align" alt="Responsive image">
    </div>

    <div class="form-group">
    <label>Username</label>
    {{form.username.data}}
    </div>

    <div class="form-group">
    <label for="editFormImageName">Image Name</label>
    <input id="editFormImageName" placeholder="Image Name" type="text" name="image_name" value="{{form.image_name.data}}" required>
    </div>

    <div class="form-group">
    <label for="editFormImageDescription">Image Description</label>
    <input placeholder="Image Description" type="text" name="image_description" id="editFormImageDescription"
        value="{{form.image_description.data}}" required>
    </div>


    <div>

    </div>

    <div class="form-group">
      <label for="editCategoryField">Current Category {{form.image_category.data}}</label>
      <select id="editCategoryField" class="form-control align" name="image_category">
        <option>Change Category</option>
        <option>People</option>
        <option>Animals</option>
        <option>Natural</option>
        <option>Urban</option>
        <option>Food and Drinks</option>
        <option>Objects</option>
        <option>Abstract and Patterns</option>
        <option>Other</option>
      </select>
    </div>


    <button id="editPhotoSubmit" type="submit" class="btn btn-primary align">Submit</button>
</div>

</form>
</div>











{% endblock %}