{% extends 'layout.html' %}

{% block body %}

<div id="upload-photo-form" class="container">
<form method="POST" action="" enctype="multipart/form-data">

    <div>
      Username<input placeholder="Username" type="text" name="username" value = {{form.username.data}}>
    </div>

    <div>
      Image Name<input placeholder="Image Name" type="text" name="image_name" value = "{{form.image_name.data}}">
    </div>

    <div>
      Image Description<input placeholder="Image Description" type="text" name="image_description" value = "{{form.image_description.data}}">
    </div>

    <div>
        <input type="file" name="image_file">
    </div>

    <div class="form-group">
            <select class="form-control" name="image_category">
              <option>Select Category</option>
              <option>People</option>
              <option>Animals</option>
              <option>Natural</option>
              <option>Urban</option>
              <option>Food and Drinks</option>
              <option>Objects</option>
              <option>Abstract and Patterns</option>
              <option>Other</option>
            </select>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="image_rotation" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Portrait</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="image_rotation" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">Landscape</label>
          </div>

    <div>
    <input type="submit">
    </div>

</form>
</div>






{% endblock %}