{% extends 'layout.html' %}

{% block body %}
<main id="main-image" class="container-fluid">

    <section class="parallax" id="parallax-1">
        <div id="img-overlay">A <span class="highlight">grey</span> world. Snapped.</div>
    </section>

    <section class="container" id="index-info-section">

        <div class="row">

            <div class="col">

                <p class="descriptive-text">We are a home for all things black, white and grey.<br> Upload your own
                    images.<br> Like and comment. </p>

            </div>

        </div>

        <div class="row justify-content-center">

            <div class="col-2">
                <a href="/register" class="btn btn-primary">New User</a>
            </div>

            <div class="col-2">
                <a href="/login" class="btn btn-secondary">Existing User</a>
            </div>

        </div>


    </section>

    <section class="parallax" id="parallax-2">

            <div class="container-fluid" id="index-info-two">

                    <div class="row">
            
                        <div class="col">
            
                            <p class="descriptive-text-2">"The best website for greyscale photography I have ever seen!"</p>
                            <p class="descriptive-text-2 author">Jack Thorpe - Professional Videographer</p>
                            <p class="descriptive-text-2">"Greyscale has never been so colourful..."</p>
                            <p class="descriptive-text-2 author">Alexander Harrington - Graphics Expert</p>
                            <p class="descriptive-text-2">"The ultimate greyscale experience"</p>
                            <p class="descriptive-text-2 author">Debra Robertson - IT Graduate</p>
            
                        </div>
            
                    </div>
        
                </div>

    </section>






</main>




{% endblock %}