<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Shadows</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">

</head>

<body class="grey lighten-3">
    <header>

    {% include 'includes/_navbar.html' %}
    
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% if error %}
      <div class="alert alert-danger">{{error}}</div>
    {% endif %}

    {% if msg %}
    <div class="alert alert-success">{{msg}}</div>
  {% endif %}




    {% block body %}

    {% endblock %}

    <footer class="page-footer grey lighten-1">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">The Shadows</h5>
                  <p class="grey-text text-lighten-4">The home of all things grey...</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Social</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2019 Copyright 
              <a class="grey-text text-lighten-4 right" href="https://github.com/Rorywork">Designed by Rorywork</a>
              </div>
            </div>
          </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/assets/js/script.js"></script>


</body>

</html>