{% extends 'layout.html' %}

{% block body %}

<main>

    <h1 id="gallery-headline">Gallery</h1>


    <div class="parent">
        <div class="film-reel">

            <button onclick="window.location.href = '/showphotos';" class="film">All</button>
            <button onclick="window.location.href = '/showphotosbycategory/People';" class="film">People</button>
            <button onclick="window.location.href = '/showphotosbycategory/Animals';" class="film">Animals</button>
            <button onclick="window.location.href = '/showphotosbycategory/Natural';" class="film">Natural</button>
            <button onclick="window.location.href = '/showphotosbycategory/Urban';" class="film">Urban</button>
            <button onclick="window.location.href = '/showphotosbycategory/Food';" class="film">Food/Drink</button>
            <button onclick="window.location.href = '/showphotosbycategory/Objects';" class="film">Objects</button>
            <button onclick="window.location.href = '/showphotosbycategory/Abstract';" class="film">Abstract</button>
            <button onclick="window.location.href = '/showphotosbycategory/Other';" class="film">Other</button>


        </div>
    </div>



    {{ pagination.info }}


    {% for photo in photos %}

    <section class="container container-overlay">

        <div class="row">

            <div class="col-12">

                <img src={{url_for('file', filename=photo['image_file'])}} class="image" alt="Responsive image">

                <div class="overlay">
                    <div class="text">
                        <p>{{photo.image_name}}</p>
                        <p>"{{photo.image_description}}"</p>
                        
                    </div>
                    <div id="bottom-right-overlay">
                        <p id="username-text">{{photo.username}}</p><br>
                        {% if session.username == "Rorywork" %}
                            <a class="btn btn-secondary"  href="/editphotodetails/{{photo._id}}"><i class="material-icons"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-secondary"   href="/deletephoto/{{photo._id}}"><i class="material-icons"><i class="fas fa-trash-alt"></i></i></a>
                        {% endif %}
                    </div>
                </div>

                

                
                
            </div>
            

            <form id="add-comment" action="/postcomment/{{photo._id}}" method="post">
                <input type="text" name="comment">&nbsp;
                <input class="btn btn-primary" type="submit" value="Add Comment">
            </form>
            <button class="btn btn-secondary" onclick="showhidecomments('com{{photo._id}}')"><i class="fas fa-comments"></i></button>
            <!-- <button class="btn btn-secondary"><i class="far fa-thumbs-up"></i></button> -->
            <form action="/addlike/{{photo._id}}" method="post">
                <input class="btn btn-secondary" type="submit" value="I like it">
                {{photo.likes}}<i class="far fa-thumbs-up"></i>
            </form>



            
        </div>
        
        {% for comment in photo.comments %}
        <div class="com{{photo._id}}">
            <p><i>{{comment}}</i></p>
        </div>
        {% endfor %}

    </section>



    


    {% endfor %}

</main>

<script>
function showhidecomments(divClass) {
    var x = document.getElementsByClassName(divClass);
    for(var i = 0; i < x.length; i++)
    {
    if (x[i].style.display === "none") {
      x[i].style.display = "block";
    } else {
      x[i].style.display = "none";
    }
    }
    console.log("xxx");
  }
function ToggleVisibility(divClass)
{
    var els = document.getElementsByClassName(divClass);
    for(var i = 0; i < els.length; i++)
    {
        els[i].style.visibility = els[i].style.visibility == "hidden" ? "visible" : "hidden";
    }
}
</script>
<div class="pagination-bottom">
{{ pagination.links }}
</div>
{% endblock %}