{% extends 'layout.html' %}

{% block body %}

<main>

    <h1 id="gallery-headline">Gallery</h1>


    <div class="parent">
        <div class="film-reel">
            <button onclick="window.location.href = '/showphotos';" class="film">All({{total}})</button>
            {% for bCat in grp %}
            <button onclick="window.location.href = '/showphotosbycategory/{{bCat._id}}';"
                class="film">{{bCat._id}}({{bCat.myCount}})</button>
            {% endfor %}

        </div>
    </div>



    {% for photo in photos %}

    <section class="container container-overlay">

        <div class="row">

            <div class="col-12">

                <img src={{url_for('file', filename=photo['image_file'])}} class="image" alt="Responsive image">

                <div class="overlay">
                    <div class="text">
                        <p>{{photo.image_name}}</p>
                        <p>"{{photo.image_description}}"</p>

                    </div>
                    <div id="bottom-right-overlay">
                        <p id="username-text">{{photo.username}}</p><br>
                        {% if session.username == "Rorywork" or session.username == photo.username %}
                        <a class="btn btn-secondary" href="/editphotodetails/{{photo._id}}"><i class="material-icons"><i
                                    class="fas fa-edit"></i></a>
                        <a class="btn btn-secondary" href="/deletephoto/{{photo._id}}"><i class="material-icons"><i
                                    class="fas fa-trash-alt"></i></i></a>
                        {% endif %}
                    </div>
                </div>

            </div>


            <button class="btn btn-primary" onclick="showhidecomments('com{{photo._id}}')">
                <i id="com{{photo._id}}" class="fas fa-minus"></i></button>
                &nbsp;
                &nbsp;
                &nbsp;
            <form id="add-comment" action=
            {% if session.logged_in %}
                "/postcomment/{{photo._id}}"
            {% else %}
                "/login"
            {% endif %}
             method="post" name="commentForm">
                <input class="comment-input" type="text" name="comment" required>&nbsp;
                <button class="btn btn-secondary" type="submit" name="commentForm"><i
                    class="fas fa-comments"></i></button>
            </form>



            {% if session.username != photo.username %}    
            <form id="thumb-top-left" action=
            {% if session.logged_in %}
                "/addlike/{{photo._id}}"
            {% else %}
                "/login"
            {% endif %}        
             method="post">
                <button class="btn btn-primary" type="submit" value="I like it" name="likeForm">
                {{photo.likes}} <i class="far fa-thumbs-up"></i></button>
            </form>
            {% endif %}


        </div>
        <br>
        {% for comment in photo.comments %}
        <div class="com{{photo._id}}">
            <p class="comment-text"><i class="fas fa-user"></i> {{comment}}</p>
        </div>
        {% endfor %}


    </section>


    {% endfor %}

</main>

<script>
    function showhidecomments(divClass) {
        var x = document.getElementsByClassName(divClass);
        for (var i = 0; i < x.length; i++) {
            if (x[i].style.display === "none") {
                x[i].style.display = "block";
            } else {
                x[i].style.display = "none";
            }
        }
        // Toggle +/- icon using the divClass unique identifier
        document.getElementById(divClass).className = ( document.getElementById(divClass).className == 'fas fa-minus')
         ? 'fas fa-plus' : 'fas fa-minus'
    }

    function ToggleVisibility(divClass) {
        var els = document.getElementsByClassName(divClass);
        for (var i = 0; i < els.length; i++) {
            els[i].style.visibility = els[i].style.visibility == "hidden" ? "visible" : "hidden";
        }
    }
</script>
<div class="pagination-bottom">
    {{ pagination.links }}
</div>
{% endblock %}