{% extends 'layout.html' %}

{% block body %}

<div id="upload-photo-form" class="container">
<form method="POST" action="/create" enctype="multipart/form-data">

    <div>
    <label>Username</label>
    <input placeholder="Username" type="text" name="username">
    </div>

    <div>
    <label>Image Name</label>
    <input placeholder="Image Name" type="text" name="image_name">
    </div>

    <div>
    <label>Image Description</label>
    <input placeholder="Image Description" type="text" name="image_description">
    </div>

    <div>
        <label>Upload File</label>
        <input type="file" name="image_file">
    </div>

    <div class="form-group">
            <label>Category</label>
            <select class="form-control" name="image_category">
              <option>People</option>
              <option>Animals</option>
              <option>Natural</option>
              <option>Urban</option>
              <option>Food and Drinks</option>
              <option>Objects</option>
              <option>Abstract and Patterns</option>
              <option>Other</option>
            </select>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="image_rotation" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Portrait</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="image_rotation" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">Landscape</label>
          </div>

    <div>
    <input type="submit">
    </div>

</form>
</div>






{% endblock %}